[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
presidio-analyzer = "*"
pycryptodome = "*"
openai = "*"
spacy = "*"
download = "*"
python-dotenv = "*"
sqlalchemy = "*"
llama-index = "*"
scikit-learn = "*"
alt-profanity-check = "*"
sentence-transformers = "*"
guidance = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
mypy = "*"
uvicorn = "*"
ipython = "*"
ipykernel = "*"
black = "*"

[requires]
python_version = "3.10"
